* {
  border: none;
  box-sizing: border-box;
  font-family: 'Pacifico', cursive;
  color: #CBC9CF;
}

html, body {
  height: 100%
}

body {
  display: flex;
  background:#b1cbbb;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  width: 100%;
  border-bottom: 1px solid #FFFACD;
  color: #C94C4C;
  font-family: 'Pacifico', cursive;
  text-align: center;
}

button {
  justify-content: center;
  align-items: center;
  background-color: #b1cbbb;
  color: #C94C4C;
  font-family: 'Pacifico', cursive;
  font-size: 26px;
  outline: none;
}

button:hover {
  transform: skewX(-15deg);
}

.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 33%;
  border-right: 1px solid #FFFACD;
}

.logo-icon {
  width: 55px;
  height: 55px;
  margin-right: 5px;
}

h2 {
  color: #C94C4C;
  font-size: 34px;
}

.icon {
  margin-right: 5px;
  width: 40px;
  height: 40px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 65%;
}

#search-text {
  background-color: #FFFACD;
  color: #C94C4C;
  font-family: 'Raleway', cursive;
  border-radius: 6px;
  margin: 5px;
  padding: 6px;
  outline: none;
  height: 50px;
  width: 450px;
}

.user-lists {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: large;
  border-left: 1px solid #FFFACD;
}