* {
  border: none;
  box-sizing: border-box;
  font-family: 'Pacifico', cursive;
  color: #CBC9CF;
}

html, body {
  height: 100%
}

body {
  display: flex;
  flex-direction: column;
  background:#b1cbbb;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  width: 100%;
  border-bottom: 1px solid #FFFACD;
  color: #C94C4C;
  font-family: 'Pacifico', cursive;
  text-align: center;
}

button {
  justify-content: center;
  align-items: center;
  background-color: #b1cbbb;
  color: #C94C4C;
  font-family: 'Pacifico', cursive;
  font-size: 18px;
  outline: none;
}

button:hover {
  transform: skewX(-10deg);
}

.logo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #FFFACD;
  height: 100%;
  width: 25%;
  color: #C94C4C;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

.logo-img-text {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.logo-icon {
  width: 55px;
  height: 55px;
  margin-right: 5px;
}

h2 {
  color: #C94C4C;
  font-size: 34px;
  margin-bottom: 15px;
}

.user-greeting {
  margin-top: 0px;
  color: #C94C4C;
  font-size: 20px;
  text-shadow: initial;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 45%;
}

#search-text {
  background-color: #FFFACD;
  color: #C94C4C;
  font-family: 'Raleway', cursive;
  border-radius: 6px;
  margin: 5px;
  padding: 6px;
  outline: none;
  height: 50px;
  width: 450px;
}

.search-icon {
  width: 40px;
  height: 40px;
}

.close-icon {
  margin-top: 10px;
  width: 40px;
  height: 30px;
}

.user-lists {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-left: 1px solid #FFFACD;
  height: 100%;
  width: 25%;
}


.user-list-btn {
  height: 30px;
  width: 275px;
}

.user-icons {
  padding: 1%;
  margin-right: 5px;
  width: 20px;
  height: 25px;
}

main {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin-left: 400px;
}

/* sidebar */
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFACD;
  height: 85vh;
  width: 25%;
  position: fixed;
  margin-top: 8.7em;
}

.search-options {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #C94C4C;
  border-radius: 6px;
  height: 65vh;
  width: 300px;
  overflow: auto;
}

.filter-btn {
  background-color: #FFFACD;
  font-size: 24px;
  width: 200px;
}

/* card section */

.recipe-cards-parent {
  display: flex;
  flex-wrap: wrap;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #C94C4C;
  box-shadow: 5px 7px #C94C4C;
  border-radius: 6px;
  background-color: #FFFACD;
  margin: 20px;
  color: black;
  width: 260px;
  height: 200px;
  transition: all .2s ease-in-out;
}

.recipe-card:hover {
  transform: scale(1.1); 
  }

  .card-top {
    position: relative;
    width: 100%;
    height: 130px;
  }
  
  .buttons-overlay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    margin-top: 5px;
  }

  .favorite-recipe-btn,
  .planned-recipe-btn {
    background-color: transparent;
  }
  
  .favorite-recipe-btn:hover,
  .planned-recipe-btn:hover {
    border-radius: 50%;
    border: 1px solid #FFFACD;
    transform: skewX(0deg);
  }
  
  .recipe-img {
    border-radius: 5px 5px 0px 0px;
    height: 125px;
    width: 100%;
  }

  .recipe-title {
    color: black;
    margin: 5px;    
  }

  .tag {
    color: black;
    border: 1px solid #b1cbbb;
    border-radius: 4px;
    font-family: 'Raleway';
    font-size: 12px;
    margin: 0;
  }