* {
  border: none;
  box-sizing: border-box;
  font-family: 'Pacifico', cursive;
  color: #C94C4C;
}

html, body {
  height: 100%
}

body {
  display: flex;
  flex-direction: column;
  background:#b1cbbb;
}

h1, h4, p {
  padding: 0;
  margin: 0;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  width: 100%;
  border-bottom: 1px solid #FFFACD;
  color: #C94C4C;
  font-family: 'Pacifico', cursive;
  text-align: center;
}

button {
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #C94C4C;
  font-family: 'Pacifico', cursive;
  font-size: 18px;
}

button:hover {
  transform: skewX(-10deg);
}

.logo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #FFFACD;
  height: 100%;
  width: 25%;
  color: #C94C4C;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

.logo-img-text {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.logo-icon {
  width: 55px;
  height: 55px;
  margin-right: 5px;
}

h2 {
  color: #C94C4C;
  font-size: 34px;
  margin-bottom: 15px;
}

.search-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 34%;
}

.search-bar {
  flex-direction: row;
}

.search-btns {
  background-color:  #b1cbbb;;
}

.search-box-btns {
  flex-direction: row;
  background-color: #FFFACD;
  border: 1px solid #b1cbbb;
  border-radius: 6px;
  font: bold 14px 'Raleway';
  margin: 0 7px;
  padding: 6px;
}

#search-text {
  background-color: #FFFACD;
  color: #C94C4C;
  font-family: 'Raleway', cursive;
  border-radius: 6px;
  margin: 5px;
  padding: 6px;
  height: 50px;
  width: 400px;
}

/* .search-icon {
  width: 40px;
  height: 40px;
} */

.close-icon {
  margin-top: 10px;
  width: 40px;
  height: 30px;
}

.user-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: right;
  padding: 1%;
  height: 100%;
  width: 20%;
}

.user-greeting {
  color: #C94C4C;
  font-size: 26px;
  text-align: right;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 18px;
}

.user-list-btns {
  font-size: 18px;
  text-align: right;
  width: 240px;
  padding: 1%;
}

.user-icons {
  margin-top: 2px;
  margin-right: 5px;
  text-align: center;
  width: 20px;
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin-left: 400px;
}

/* sidebar */
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFACD;
  height: 78vh;
  width: 25%;
  position: fixed;
  margin-top: 10em;
}

.filter-options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid #C94C4C;
  border-radius: 6px;
  height: 70vh;
  width: 300px;
  overflow: auto;
  padding: 1%;
}

.filter-btns {
  background-color: #FFFACD;
  font-size: 22px;
  width: 250px;
}

.tag-list {
  flex-wrap: wrap;
  width: 85%;
  height: 50%;
  overflow: scroll;
}

.tag-buttons {
  border: 1px solid #b1cbbb;
  border-radius: 6px;
  font: bold 14px 'Raleway';
  margin: 1px 2px;
}

.tag-buttons.active {
  background-color: #C94C4C;
  border: 2px solid #b1cbbb;
  color: #FFFACD;
  font-weight: bold;
}

/* card section */

.recipe-cards-parent {
  display: flex;
  flex-wrap: wrap;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #C94C4C;
  box-shadow: 5px 7px #C94C4C;
  border-radius: 6px;
  margin: 25px;
  width: 290px;
  height: 225px;
  transition: all .2s ease-in-out;
  position: relative;
}

.recipe-card:hover {
  transform: scale(1.1); 
  }
  
.recipe-img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}
  
 .card-overlay {
  display: flex;
  flex-direction: column;
  background-color:rgba(99, 98, 94, 0.7);
  position: absolute;
  border-radius: 0px 0px 4px 4px;
  bottom: 0px;
  width: 100%;
}
   
 .card-overlay-top {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2%;
} 
  
.card-btn {
  background-color: transparent;
}
  
.card-btn:hover {
  transform: skewX(-10deg);
}

.recipe-title {
  color: #FFFACD;
  font-size: 20px;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  margin: 0px;    
  }


 /* modals */
 .pantry-modal,
.recipe-modal {
  background: #FFFACD;
  border: 3px solid #C94C4C;
  border-radius: 10px;
  box-shadow: 1px 1px 115px black;
  display: none;
  height: 70%;
  margin: 0;
  overflow-x: scroll;
  padding: 1%;
  position: fixed;
  right: 15%;
  top: 15%;
  width: 70%;
  z-index: 1000;
  transition: .3s ease;
}

#exit-btn {
  background: transparent;
  border: 2px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  right: 230px;
  top: 120px;
  position: fixed;
  transition: .3s ease;
}

#pantry-title,
#recipe-title {
  background-repeat: no-repeat;
  background-size: cover;
  color: #b1cbbb;
  font-size: 30px;
  margin: 0;
  padding: 1%;
  text-align: center;
  text-shadow: 0px 0px 4px black;
}

.modal-btns {
  display: flex;
  justify-content: center;
}

#recipe-modal-img {
  margin-left: 30%;
  width: 40%;
  height: 40%;
}

.recipe-modal h4 {
  color: #C94C4C;
  font-size: 1.5em;
  margin-bottom: 8px;
  margin-left: 3%;
}

.pantry-content,
.recipe-modal article {
  color: #C94C4C;
  font-family: 'Raleway';
  width: 93%;
  margin-left: 3%;
}
