* {
  border: none;
  box-sizing: border-box;
  font-family: 'Pacifico', cursive;
  color: #CBC9CF;
}

html, body {
  height: 100%
}

body {
  display: flex;
  flex-direction: column;
  background:#b1cbbb;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  width: 100%;
  border-bottom: 1px solid #FFFACD;
  color: #C94C4C;
  font-family: 'Pacifico', cursive;
  text-align: center;
}

button {
  justify-content: center;
  align-items: center;
  background-color: #b1cbbb;
  color: #C94C4C;
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  outline: none;
}

button:hover {
  transform: skewX(-10deg);
}


.logo-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #FFFACD;
  height: 100%;
  width: 25%;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

.logo-icon {
  width: 55px;
  height: 55px;
  margin-right: 5px;
}

h2 {
  color: #C94C4C;
  font-size: 34px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 45%;
}

#search-text {
  background-color: #FFFACD;
  color: #C94C4C;
  font-family: 'Raleway', cursive;
  border-radius: 6px;
  margin: 5px;
  padding: 6px;
  outline: none;
  height: 50px;
  width: 450px;
}

.search-icon {
  width: 40px;
  height: 40px;
}

.close-icon {
  margin-top: 10px;
  width: 40px;
  height: 30px;
}

.user-lists {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 30%;
  border-left: 1px solid #FFFACD;
  /* margin: auto; */
}

.user-list-btn {
  height: 30px;
  width: 275px;
}

.user-icons {
  /* margin-right: 5px; */
  width: 25px;
  height: 30px;
}

main {
  display: flex;
  flex-direction: row;
}

/* sidebar */

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFACD;
  height: 85vh;
  width: 25%;
  position: fixed;
}

.search-options {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #C94C4C;
  border-radius: 6px;
  height: 65vh;
  width: 300px;
  overflow: auto;
}

.filter-btn {
  background-color: #FFFACD;
  font-size: 24px;
  width: 200px;
}

