* {
  border: none;
  box-sizing: border-box;
  font-family: 'Pacifico', cursive;
  color: #CBC9CF;
}

html, body {
  height: 100%
}

body {
  display: flex;
  flex-direction: column;
  background:#b1cbbb;
}

h1, h4, p {
  padding: 0;
  margin: 0;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  width: 100%;
  border-bottom: 1px solid #FFFACD;
  color: #C94C4C;
  font-family: 'Pacifico', cursive;
  text-align: center;
}

button {
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #C94C4C;
  font-family: 'Pacifico', cursive;
  font-size: 18px;
  outline: none;
}

button:hover {
  transform: skewX(-10deg);
}

.logo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #FFFACD;
  height: 100%;
  width: 25%;
  color: #C94C4C;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

.logo-img-text {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.logo-icon {
  width: 55px;
  height: 55px;
  margin-right: 5px;
}

h2 {
  color: #C94C4C;
  font-size: 34px;
  margin-bottom: 15px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 45%;
}

#search-text {
  background-color: #FFFACD;
  color: #C94C4C;
  font-family: 'Raleway', cursive;
  border-radius: 6px;
  margin: 5px;
  padding: 6px;
  outline: none;
  height: 50px;
  width: 450px;
}

.search-icon {
  width: 40px;
  height: 40px;
}

.close-icon {
  margin-top: 10px;
  width: 40px;
  height: 30px;
}

.user-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: right;
  /* border-left: 1px solid #FFFACD; */
  padding: 1%;
  height: 100%;
  width: 20%;
}

.user-greeting {
  color: #C94C4C;
  font-size: 20px;
  text-align: right;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 18px;
}

.user-list-btns {
  text-align: right;
  width: 240px;
  padding: 1%;
}

.user-icons {
  margin-top: 2px;
  margin-right: 5px;
  width: 20px;
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin-left: 400px;
}

/* sidebar */
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFACD;
  height: 78vh;
  width: 25%;
  position: fixed;
  margin-top: 10em;
}

.search-options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid #C94C4C;
  border-radius: 6px;
  height: 70vh;
  width: 300px;
  overflow: auto;
  padding: 1%;
}

.filter-btns {
  background-color: #FFFACD;
  font-size: 22px;
  width: 250px;
}

.tag-list {
  flex-wrap: wrap;
  width: 85%;
  height: 40%;
  overflow: scroll;
}

.tag-buttons {
  border: 1px solid #b1cbbb;
  border-radius: 6px;
  font: bold 14px 'Raleway';
  margin: 1px 2px;
}

.tag-button.active {
  background-color: #C94C4C;
  color: #FFFACD;
}

/* card section */

.recipe-cards-parent {
  display: flex;
  flex-wrap: wrap;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #C94C4C;
  box-shadow: 5px 7px #C94C4C;
  border-radius: 6px;
  margin: 25px;
  width: 290px;
  height: 225px;
  transition: all .2s ease-in-out;
  position: relative;
}

.recipe-card:hover {
  transform: scale(1.1); 
  }
  
.recipe-img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}
  
.card-overlay {
  display: flex;
  flex-direction: column;
  background-color:rgba(99, 98, 94, 0.7);
  position: absolute;
  border-radius: 0px 0px 4px 4px;
  bottom: 0px;
  width: 100%;
}
  
.card-overlay-top {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
  
.card-btn {
  background-color: transparent;
}
  
.card-btn:hover {
  border-radius: 50%;
  border: 1px solid #FFFACD;
  transform: skewX(0deg);
}

.recipe-title {
  color: #FFFACD;
  font-size: 20px;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  margin: 0px;    
  }


 /* modal */
 .pantry-list,
.recipe-instructions {
  background: #FFFACD;
  border: 3px solid #C94C4C;
  border-radius: 10px;
  box-shadow: 1px 1px 115px black;
  display: none;
  height: 70%;
  margin: 0;
  overflow-x: scroll;
  padding: 1%;
  position: fixed;
  right: 15%;
  top: 15%;
  width: 70%;
  z-index: 1000;
  transition: .3s ease;
}

#exit-btn {
  background: transparent;
  border: 2px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  right: 230px;
  top: 120px;
  position: fixed;
  transition: .3s ease;
}

#pantry-title,
#recipe-title {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px 7px 0px 0px;
  color: #b1cbbb;
  font-size: 30px;
  margin: 0;
  padding: 1%;
  text-align: center;
  text-shadow: 0px 0px 4px black;
}

#recipe-modal-img {
  margin-left: 30%;
  width: 40%;
  height: 40%;
}

.recipe-instructions h4 {
  color: #C94C4C;
  font-size: 1em;
  margin-left: 3%;
}

.recipe-instructions article {
  color: #C94C4C;
  font-family: 'Raleway';
  width: 90%;
  margin-left: 3%;
}

.recipe-instructions ol {
  margin-right: 3%;
}

#overlay {
  filter:alpha(opacity=50);
  background-color: #5B7894;
  height:100%;
  left:0;
  opacity:0.5;
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
}

